<h1>Signup Page!</h1>

<%= form_for @user do |f|%>
<%= f.label "Name" %>
<%= f.text_field "name" %>
<%= f.label "Username" %>
<%= f.text_field "username" %>
<%= f.label "Password" %>
<%= f.text_field "password_digest" %>
<%= f.submit "Register!" %>

<% end %>
