<h2>Hey, <%= @user.name %>!</h2>
<br>
<h4>Here are all of your cats:</h4><br>
<div class="all-cat-grid">
  <% @user.cats.each do |cat| %>
  <div class="cat-card">
    <p><b>My name: </b><%=link_to cat.name, cat_path(cat)%></p>
    <img  src="<%= cat.img_url %>" >
    <div class="cat-card-info">
      <p><b>Am I adopted? </b><%= cat.adopted? %></p>
      <p><b>About me: </b><%=cat.description.truncate(55) %></p>
    </div>
  </div>
  <% end %>
</div>
<br>
<br>

<p>Adoptions: </p><%= Claim.claimed_cats & @user.owned_cats%>

<% @user.owned_cats.each do |cat| %>
<h5><%= cat.name %></h5>
<ul>
  <% cat.claims.each do |claim| %>
  <li><%= claim.user.name %></li>
  <%= button_to "Accept", "/claims/#{claim.id}", method: "patch" %>
  <% end %>
</ul>
<% end %>
