<h2><%= @user.name %>'s Page</h2>
<br>
<h4>Here are all of <%= "#{@user.name}" %>'s cats:</h4><br>
<div class="all-cat-grid">
  <% @user.cats.each do |cat| %>
  <div class="cat-card">
    <p><b>My name: </b><%=link_to cat.name, cat_path(cat)%></p>
    <img  src="<%= cat.img_url %>" >
    <div class="cat-card-info">
<<<<<<< HEAD
      <p><b>Am I adopted? </b><%= cat.adopted? %></p>
      <p><b>About me: </b><%=cat.description.truncate(55) %></p>
=======
      <p><b>Am I up for adoption? </b><%= !cat.adopted? %></p>
      <p><b>About me: </b><%=cat.description.truncate(30) %></p>
      <% if @viewer.id == @user.id%>
        <p><b></b><%= button_to "Claim #{cat.name}", "/toggle_adoption/#{cat.id}", method: "patch"%></p>
        <p><b></b><%= button_to "Release #{cat.name}", "/release/#{cat.id}", method: "patch"%></p>
      <% end %>
>>>>>>> willjaimie-test
    </div>
  </div>
  <% end %>

</div>
<br>
<<<<<<< HEAD
<h4>Here are the cats you want:</h4><br>
=======
<br>

<h4>Cats I want to adopt: </h4>
<br>
>>>>>>> willjaimie-test
<div class="all-cat-grid">
  <% @user.claims.each do |claim| %>
  <div class="cat-card">
    <p><b>My name: </b><%=link_to claim.cat.name, cat_path(claim.cat)%></p>
<<<<<<< HEAD
    <img src="<%= claim.cat.img_url %>" >
    <div class="cat-card-info">
      <p><b>Am I adopted? </b><%= claim.cat.adopted? %></p>
      <p><b>About me: </b><%=claim.cat.description.truncate(55) %></p>
    </div>
  </div>
  <% end %>
<br>
<h4>Requests to adopt your cats: </h4><br>
<div class="all-cat-grid">
  <% @user.owned_cats.each do |cat| %>
    <% cat.claims.each do |claim| %>
    <div class="cat-card">
      <p><b>My name: </b><%=link_to claim.cat.name, cat_path(claim.cat) %></p>
      <img src="<%=claim.cat.img_url%>"
      <p><b>Requester's name: </b> <%=link_to claim.user.name, user_path(claim.user) %> </p>
      <%= button_to "Accept", "/claims/#{claim.id}", method: "patch" %>
    <% end %>
<% end %>
=======
    <p><b>Current owner: </b><%= link_to claim.user.name, user_path(claim.user) %></p>
    <img  src="<%= claim.cat.img_url %>" >
    <div class="cat-card-info">

      <p><b>About me: </b><%=claim.cat.description.truncate(30) %></p>
    </div>
  </div>
  <% end %>
</div>

<br>
<h4>Requests to adopt your cats: </h4><br>
<div class="all-cat-grid">
<% @user.owned_cats.each do |cat| %>
  <% cat.claims.each do |claim| %>
    <div class="cat-card">
      <p><b>My name: </b><%=link_to claim.cat.name, cat_path(claim.cat) %></p>
      <img src="<%=claim.cat.img_url%>">
      <p><b> Requester's name: </b> <%=link_to claim.user.name, user_path(claim.user) %> </p>
      <%= button_to "Accept", "/claims/#{claim.id}", method: "patch" %>
    </div>
      <% end %>
    <% end %>
  </div>
>>>>>>> willjaimie-test
