<h2>Hey, <%= @user.name %>!</h2>
<br>
<h4>Here are all of your cats:</h4><br>
<div class="all-cat-grid">
  <% @user.owned_cats.each do |cat| %>
  <div class="cat-card">
    <p><b>My name: </b><%=link_to cat.name, cat_path(cat)%></p>
    <img  src="<%= cat.img_url %>" >
    <div class="cat-card-info">
      <p><b>Am I adopted? </b><%= cat.adopted? %></p>
      <p><b></b><%= button_to "Pick up #{cat.name}", "/toggle_adoption/#{cat.id}", method: "patch"%></p>
      <p><b></b><%= button_to "Release #{cat.name}", "/release/#{cat.id}", method: "patch"%></p>
      <p><b>About me: </b><%=cat.description.truncate(55) %></p>
    </div>
  </div>
  <% end %>
</div>
<br>
<br>

<p>I want these cats: </p>

<div class="all-cat-grid">
  <% @user.claims.each do |claim| %>
  <div class="cat-card">
    <p><b>My name: </b><%=link_to claim.cat.name, cat_path(claim.cat)%></p>
    <img  src="<%= claim.cat.img_url %>" >
    <div class="cat-card-info">



  <% end %>

<br>
<p>Requests for adoption: </p>
<br>


<% @user.owned_cats.each do |cat| %>


<ul>
  <% cat.claims.each do |claim| %>
  <h5><%=link_to claim.cat.name, cat_path(claim.cat) %></h5>
  <img src="<%=claim.cat.img_url%>"
  <li><%=link_to claim.user.name, user_path(claim.user) %></li>
  <%= button_to "Accept", "/claims/#{claim.id}", method: "patch" %>
  <% end %>
</ul>
<% end %>
