<h2>Post a New Cat Below!</h2>
<br>

<%= form_for @cat do |f|%>
<%= f.label "Cat's Name: " %>
<%= f.text_field "name" %>
<%= f.label "Cat's Age: " %>
<%= f.number_field "age" %>
<%= f.label "Cat's Gender: " %>
<%= f.text_field "gender" %>
<br>
<%= f.label "Upload an image link:" %>
<%= f.text_field "img_url" %>
<%= f.label "Please select the current owner: " %>
<%=f.collection_select(:user_id, User.all, :id, :name, prompt:true)%>


<br>
<%= f.label "Cat's Description: " %>
<br>
<%= f.text_area "description" %>
<br>
<%= f.submit "Post your kitty!" %>
<br>
<% end %>
