
<p>Show Page</p>
My name! <%=@cat.name %>
My owner! <%= @cat.user.name %>


<p>Adopt me! </p>


<%= button_to "Adopt", "/adopt/#{@cat.id}", method: "patch" %>

<%= button_to "Logout", '/logout', method: "delete" %>
<%= button_to "Home", litter_path, method: "get"%>
