<br>
<h2><%=@cat.name%>'s Page</h2>
<br>
<p><b>My name: </b><%=@cat.name %></p>
<p><b>My owner: </b><%= link_to @cat.user.name, "/users/#{@cat.user_id}" %></p>
<p><b>About me: </b><%=@cat.description %></p>
<p><b>Am I adopted? </b><%= @cat.adopted? %></p>
<p><b>This is me! </b></p>
<img  src="<%= @cat.img_url %>" width=300px >
<p><b>Adopt me!</b></p>

<%= button_to "Adopt", "/adopt/#{@cat.id}", method: "patch" %>
<%= button_to "Give", "/release/#{@cat.id}", method: "patch" %>
