<h1>Welcome to Litter Splitter!</h1>

<%=form_tag "/litter" do %>
  <%= label_tag "Username:"%>
  <%= text_field_tag "username"%>
  <%= label_tag "Password"%>
  <%= text_field_tag "password_digest"%>
  <%= submit_tag "Submit"%>
<%end%>

<%=link_to "Sign Up", litter_signup_path, method: "get" %>
