<!DOCTYPE html>
<html>
  <head>
    <title>LitterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Litter//Splitter", 'application#home', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   'application#home' %></li>
            <li><%= link_to "Sign Up",   'users#new' %></li>
            <li><%= link_to "Log in", 'sessions#new' %></li>
            <li><%= link_to "Log out", 'sessions#destroy' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
