<!DOCTYPE html>

<html>
  <head>
    <title>Litter//Splitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/litter">Litter // Splitter</a>
      <form class="form-inline">
          <a class="btn btn-outline-primary" href="/litter" role="button">
            Home
          </a>
        <form class="form-inline">
          <a class="btn btn-outline-success" href="/user" role="button">
            My Profile
          </a>
        <form class="form-inline">
          <a class="btn btn-outline-success" href="/logout" role="button">
            Logout
          </a>
      </form>
  </nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
