<!DOCTYPE html>
<html>
  <head>
    <title>Litter//Splitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/litter"><h1>Litter // Splitter</h1></a>
      <form class="form-inline">
          <a class="btn btn-outline-primary" href=<%="/users/#{session[:user_id]}/feed"%> role="button">
            Home
          </a>
        <form class="form-inline">
          <a class="btn btn-outline-success" href=<%="/users/#{session[:user_id]}"%> role="button">
            My Profile
          </a>
        <form class="form-inline">
          <a class="btn btn-outline-success"
          <%= link_to "Logout", '/logout', :method => 'delete'%>
          </a>
        </form>
      </nav>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
<footer>
  <p> <a class="btn btn-outline-success"
  <%= link_to "Logout", '/logout', :method => 'delete'%>
  </a></p>
  <p>Contact us:
    <a href="mailto:contact@littersplitter.com">
    contact@littersplitter.com</a>.</p>
</footer>
</html>
